*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a{
    color: black;
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
body{
    background-color: rgb(247, 243, 243);
}
/* header styling */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    padding-right: 5%;
}
.logo{
    margin-left: 2%;
    width: 15%;
}
header h3{
    font-size: 30px;
}
.header-nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 20%; */
}
.header-input-wrap{
    width: 70%;
    
}
.header-input{
    width: 100%;
    height: 30px;
    border: 10px ;
    display: inline-block;
    /* margin-right: 3%; */
    border-radius: 6px;
    background-color:rgb(179, 166, 166);
}
.icons-wrap{
    width: 20%;
    display: flex;
    justify-content: space-around;
    /* margin-left: 5%; */
}
.icon img{
    width: 20px;
    height: 20px;
    padding-right: 2%;
}
/* section styling */
.body-wrap{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
}
/* side-nav styling */
.side-nav{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-right: 3%;
    width: 15%;
}
.category ul{
    list-style:none;
    line-height: 25px;
}
.categorylistitems{
    display: flex;
    align-items: center;
}
.categorylistitems a{
    padding-left: 5%;
}
.category select{
    border: none;
}
.minimum-price{
    display: block;
    margin-top: 30px;
    width: 100%;

}
.minimum-price input{
    width: 50%;
}
.rating{
    margin-top:15px;
}
.rating p{
    font-weight: bold;
}


/* content-wrap styling */
.content-wrap{
    display: block;
    width: 80%;
    margin-right: 5%;
}
.top-container{
    padding-left: 2%;
}
.sort-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4{
    font-weight: normal;
}
.sort-wrap{
    display: flex;
    justify-content: left;
    width: 70%;
    align-items: center;
    padding-top: 6px;
}
.sort{
    width: 5%;
}
.nav{
    width: 60%;
}
.nav ul{
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.nav ul a, .nav ul select{
    background-color: rgb(179, 166, 166);
    display: inline-block;
    border-radius: 10px;
    margin-left: 1%;  
}
.nav ul a li{
    list-style: none;
   padding: 5px;
}


/* item-wrap styling */
.item-wrap{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    flex-wrap: wrap;
    padding-top: 15px;
    border-left: 1px solid black;
  
}
.item{
    width: 31%;
    margin-bottom: 20px;
    background-color: aliceblue;
    box-shadow:3px 2px 2px rgba(27, 9, 9, 0.2), -3px -2px 2px rgba(27, 9, 9, 0.2);
    border-radius: 10px;
}
.item img{
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 300px;
}
.item-text{
    margin: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}
.item-rating{
    margin: 10px 0px;
}
.item-php{
    margin: 20px 0px;
}


/* tablet view styling */
@media (max-width: 1200px){ 
    .header-nav{
        width: 100%;
    }
    header h3{
        font-size: 20px;
    } 
    .header-input-wrap{
        margin-left: 4%;
    }  
    header input{
        width: 80%
    }
    .header-input{
        margin-right: 0;
    } 
    /* .sort-wrap{
        width: 80%;
    } */
    .sort{
        width: 10%;
    }
    .nav{
        width: 65%;
    }
    .side-nav{
        display: flex;
        flex-wrap:wrap;
    }
    .item{
            width:47%;
            display: flex;
            flex-wrap: wrap;
        }

    }

/* mobile view */

@media (max-width:760px){
   .logo{
    margin-bottom: 5%;
    }
    header{
        display: block;
        padding-left: 2%;
    }
    .header-input-wrap{
        width: 70%;
        
    }
    .icons-wrap{
        width: 30%;
    }
    .header-nav{
        width: 100%;
    }
    .header-input-wrap{
        margin-left: 0;
    } 
    .header-input{
        width: 100%;
        /* margin-left: 3%; */
    }
    a .icon{
        padding-left:10px ;
    }
    .body-wrap{
        display:block;
    }
    .side-nav{
        width: 100%;
        display:block;
        flex-direction: column;
        margin:0px 0px;
        padding-top:5px;
        padding-left: 2%;
        margin-bottom: 20px ;
    }
    .sort-wrap{
        /* width: 100%; */
        display:block
    }
    .sort{
        width: 100%;
    }
    .nav{
        width: 100%;
    }
    .category ul{
        display: flex;
        flex-wrap: wrap;
    }
    .category ul a li{
        display: inline-block;
        margin-right: 13px;
    }
    .nav ul a, .nav ul select{
        background-color: rgb(179, 166, 166);
        display: inline-block;
        border-radius: 10px;
        margin-left: 1%;  
    }
    .nav ul a li, .nav ul select{
        font-size: 14px;
       padding: 4px;
    }
    .minimum-price input{
        width: 20%;
    }
    .content-wrap{
        display: block;
        width: 100%;
    }
    .item-wrap{
        display:block;
        margin: 0px auto;
        max-width: 100%;
    }
    .item{
       width: 97%;

    }
}
